In [1]:
import pandas as pd
from sqlalchemy import (
    create_engine, MetaData, Table, Column,
    String, Integer, Float, DateTime, Boolean, ForeignKey, text
)
DB_URL = "sqlite:///crime.db"
engine = create_engine(DB_URL, future=True)
metadata = MetaData()
metadata.reflect(bind=engine)
metadata.drop_all(bind=engine)
metadata = MetaData()

- create main table

In [2]:
PK = 'id'
main = pd.read_csv("event.csv")
complaints = pd.read_csv("complaint.csv")
arrests = pd.read_csv("arrest.csv")
shootings = pd.read_csv("shooting.csv")
main["id"] = pd.to_numeric(main["id"], errors="coerce").astype("Int64")
main["nypdCode"] = pd.to_numeric(main["nypdCode"], errors="coerce").astype("Int64")
main["precinct"] = pd.to_numeric(main["precinct"], errors="coerce").astype("Int64")
main["jurisdictionCode"] = pd.to_numeric(main["jurisdictionCode"], errors="coerce").astype("Int64")
main["offenseCode"] = pd.to_numeric(main["offenseCode"], errors="coerce").astype("Int64")
main["latitude"] = pd.to_numeric(main["latitude"], errors="coerce")
main["longitude"] = pd.to_numeric(main["longitude"], errors="coerce")
complaints["id"] = pd.to_numeric(complaints["id"], errors="coerce").astype("Int64")
complaints["start_datetime"] = pd.to_datetime(complaints["start_datetime"], errors="coerce")
complaints["end_datetime"] = pd.to_datetime(complaints["end_datetime"], errors="coerce")
arrests["id"] = pd.to_numeric(arrests["id"], errors="coerce").astype("Int64")
arrests["keyCode"] = pd.to_numeric(arrests["keyCode"], errors="coerce").astype("Int64")
arrests["xCoord"] = pd.to_numeric(arrests["xCoord"], errors="coerce")
arrests["yCoord"] = pd.to_numeric(arrests["yCoord"], errors="coerce")
shootings["id"] = pd.to_numeric(shootings["id"], errors="coerce").astype("Int64")
shootings["xCoord"] = pd.to_numeric(shootings["xCoord"], errors="coerce")
shootings["yCoord"] = pd.to_numeric(shootings["yCoord"], errors="coerce")
main_table = Table(
    "main",
    metadata,
    Column("id", Integer, primary_key=True),                 
    Column("is_complaint", Integer, nullable=False),
    Column("is_arrest", Integer, nullable=False),
    Column("is_shooting", Integer, nullable=False),                 
    Column("dateId", DateTime, nullable=True),                 
    Column("borough", String, nullable=True),                
    Column("nypdCode", Integer, nullable=True),
    Column("precinct", Integer, nullable=True),              
    Column("latitude", Float, nullable=True),
    Column("longitude", Float, nullable=True),               
    Column("jurisdictionCode", Integer, nullable=True),      
    Column("offenseCode", Integer, nullable=True),           
)
complaints_table = Table(
    "complaints",
    metadata,
    Column("id", Integer, ForeignKey('main.id'),primary_key=True),
    Column("start_datetime", DateTime, nullable = True),
    Column("end_datetime", DateTime, nullable = True),
    Column("reportDate", String, nullable = True),
    Column("crimeStatus", String, nullable = True),
    Column("jurisdictionDescription", String, nullable = True),
    Column("lawCategory", String, nullable = True),
    Column("spatialContext", String, nullable = True),
    Column("offenseDescription", String, nullable = True),
    Column("policeDescription", String, nullable = True),
    Column("premisesDescription", String, nullable = True),
    Column("suspAgeGroup", String, nullable = True),
    Column("suspRace", String, nullable = True),
    Column("suspSex", String, nullable = True),
    Column("vicAgeGroup", String, nullable = True),
    Column("vicRace", String, nullable = True),
    Column("vicSex", String, nullable = True),   
)

arrest_table = Table(
    "arrests",
    metadata,
    Column("id", Integer, ForeignKey('main.id'),primary_key=True),
    Column("lawCategory", String, nullable=True),
    Column("offenseDescription", String, nullable=True),
    Column("policeDescription", String, nullable=True),
    Column("keyCode", Integer, nullable=True),
    Column("lawCode", String, nullable=True),
    Column("perpAgeGroup", String, nullable=True),
    Column("perpSex", String, nullable=True),
    Column("perpRace", String, nullable=True),
    Column("xCoord", Float, nullable=True),
    Column("yCoord", Float, nullable=True),
)
shooting_table = Table(
    "shootings",
    metadata,
    Column("shooting_record_id", Integer, primary_key=True, autoincrement=True),
    Column("id", Integer, ForeignKey("main.id"), nullable=False),
    Column("time", String, nullable=True),
    Column("spatialContext", String, nullable=True),
    Column("locationType", String, nullable=True),
    Column("venueType", String, nullable=True),
    Column("vicAgeGroup", String, nullable=True),
    Column("vicRace", String, nullable=True),
    Column("vicSex", String, nullable=True),
    Column("perpAgeGroup", String, nullable=True),
    Column("perpSex", String, nullable=True),
    Column("perpRace", String, nullable=True),
    Column("xCoord", Float, nullable=True),
    Column("yCoord", Float, nullable=True),
    Column("fatalFlag", Boolean, nullable=True),    
)
    

metadata.create_all(engine)
with engine.begin() as conn:
    conn.execute(text("PRAGMA foreign_keys=ON"))

/tmp/ipykernel_3308/3975712541.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  arrests = pd.read_csv("arrest.csv")

In [3]:

main.to_sql("main", engine, if_exists="append", index=False)
complaints.to_sql("complaints", engine, if_exists="append", index=False)
arrests.to_sql("arrests", engine, if_exists="append", index=False)
shootings.to_sql("shootings", engine, if_exists="append", index=False)

170

In [4]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text(
        "SELECT name FROM sqlite_master WHERE type='table';"
    ))

    for row in result:
        print(row)

('main',)
('complaints',)
('arrests',)
('shootings',)

In [5]:
with engine.connect() as conn:
    result = conn.execute(text(
        "SELECT * FROM main m JOIN shootings s ON m.id = s.id WHERE m.borough = 'MANHATTAN';"
    ))

    for row in result:
        print(row)

(298909833, 0, 0, 1, '1/4/2025', 'MANHATTAN', 0, 28, 40.802702, -73.95263, 0, 0, 20, 298909833, '16:50:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK', 'M', '18-24', 'M', 'BLACK', 997365.0, 231723.0, 0)
(298949944, 0, 0, 1, '1/5/2025', 'MANHATTAN', 0, 24, 40.791193, -73.972463, 0, 0, 27, 298949944, '19:43:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '<18', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 991875.0, 227527.0, 0)
(299382241, 0, 0, 1, '1/13/2025', 'MANHATTAN', 0, 30, 40.824207, -73.95208, 0, 0, 35, 299382241, '21:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK HISPANIC', 'M', '18-24', 'M', 'BLACK HISPANIC', 997512.0, 239558.0, 0)
(299382241, 0, 0, 1, '1/13/2025', 'MANHATTAN', 0, 30, 40.824207, -73.95208, 0, 0, 36, 299382241, '21:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK HISPANIC', 'M', '18-24', 'M', 'BLACK', 997512.0, 239558.0, 0)
(299382241, 0, 0, 1, '1/13/2025', 'MANHATTAN', 0, 30, 40.824207, -73.95208, 0, 0, 37, 299382241, '21:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK HISPANIC', 'M', '<18', 'M', 'WHITE HISPANIC', 997512.0, 239558.0, 0)
(299382241, 0, 0, 1, '1/13/2025', 'MANHATTAN', 0, 30, 40.824207, -73.95208, 0, 0, 38, 299382241, '21:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK HISPANIC', 'M', '<18', 'M', 'BLACK', 997512.0, 239558.0, 0)
(299470064, 0, 0, 1, '1/15/2025', 'MANHATTAN', 0, 34, 40.86779354261407, -73.92998844410148, 0, 0, 42, 299470064, '1:00:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'WHITE HISPANIC', 'M', '45-64', 'M', 'BLACK HISPANIC', 1003614.0, 255446.0, 0)
(299470064, 0, 0, 1, '1/15/2025', 'MANHATTAN', 0, 34, 40.86779354261407, -73.92998844410148, 0, 0, 43, 299470064, '1:00:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'WHITE HISPANIC', 'M', '45-64', 'M', 'WHITE HISPANIC', 1003614.0, 255446.0, 0)
(300131386, 0, 0, 1, '1/27/2025', 'MANHATTAN', 0, 25, 40.811131, -73.936716, 2, 0, 56, 300131386, '23:15:00', 'OUTSIDE', 'HOUSE', 'HOUSE', '25-44', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 1001768.0, 234797.0, 0)
(300261482, 0, 0, 1, '1/29/2025', 'MANHATTAN', 0, 25, 40.807866, -73.934886, 0, 0, 63, 300261482, '18:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'WHITE HISPANIC', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 1002275.0, 233608.0, 0)
(300361353, 0, 0, 1, '1/31/2025', 'MANHATTAN', 0, 32, 40.81150837870653, -73.9464772808833, 2, 0, 69, 300361353, '20:17:00', 'OUTSIDE', 'HOUSE', 'HOUSE', '18-24', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 999066.0, 234936.0, 0)
(300566188, 0, 0, 1, '2/4/2025', 'MANHATTAN', 0, 10, 40.74347, -74.005392, 2, 0, 77, 300566188, '12:20:00', 'OUTSIDE', 'HOUSE', 'HOUSE', '25-44', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 982756.0, 210139.0, 0)
(301320655, 0, 0, 1, '2/18/2025', 'MANHATTAN', 0, 7, 40.713385, -73.982369, 2, 0, 97, 301320655, '8:18:00', 'INSIDE', 'HOUSE', 'HOUSE', '45-64', 'BLACK', 'M', '25-44', 'M', 'WHITE HISPANIC', 989138.0, 199179.0, 0)
(301860130, 0, 0, 1, '2/28/2025', 'MANHATTAN', 0, 32, 40.82849931186048, -73.93778057105277, 0, 0, 114, 301860130, '19:12:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK', 'M', '<18', 'M', 'BLACK', 1001469.0, 241128.0, 0)
(301923239, 1, 0, 1, '3/1/2025', 'MANHATTAN', 0, 9, 40.724951, -73.993251, 0, 101, 116, 301923239, '3:20:00', 'OUTSIDE', 'COMMERCIAL', 'BAR/NIGHT CLUB', '25-44', 'WHITE HISPANIC', 'M', '25-44', 'M', 'WHITE HISPANIC', 986120.0, 203392.0, 1)
(301942915, 0, 0, 1, '3/2/2025', 'MANHATTAN', 0, 23, 40.797017, -73.942803, 2, 0, 117, 301942915, '20:38:00', 'OUTSIDE', 'HOUSE', 'HOUSE', '18-24', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 1000086.0, 229653.0, 0)
(302818234, 0, 0, 1, '3/14/2025', 'MANHATTAN', 0, 32, 40.829459, -73.937956, 0, 0, 129, 302818234, '16:24:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '<18', 'BLACK', 'M', '18-24', 'M', 'BLACK HISPANIC', 1001420.0, 241474.0, 0)
(302818234, 0, 0, 1, '3/14/2025', 'MANHATTAN', 0, 32, 40.829459, -73.937956, 0, 0, 132, 302818234, '16:24:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '<18', 'BLACK', 'M', '18-24', 'M', 'BLACK', 1001420.0, 241474.0, 0)
(302892958, 0, 0, 1, '3/16/2025', 'MANHATTAN', 0, 23, 40.794604, -73.948786, 2, 0, 134, 302892958, '2:20:00', 'INSIDE', 'HOUSE', 'HOUSE', '<18', 'WHITE HISPANIC', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 998430.0, 228773.0, 0)
(303241626, 0, 0, 1, '3/17/2025', 'MANHATTAN', 0, 23, 40.787568, -73.943131, 2, 0, 135, 303241626, '15:31:00', 'OUTSIDE', 'HOUSE', 'HOUSE', '18-24', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 999998.0, 226211.0, 0)
(303275049, 0, 0, 1, '3/20/2025', 'MANHATTAN', 0, 34, 40.868306, -73.919159, 0, 0, 145, 303275049, '0:59:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'BLACK HISPANIC', 'M', '25-44', 'M', 'WHITE HISPANIC', 1006609.0, 255632.0, 0)
(303772633, 0, 0, 1, '3/27/2025', 'MANHATTAN', 0, 25, 40.79897, -73.941374, 0, 0, 153, 303772633, '11:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'WHITE', 'M', '25-44', 'M', 'BLACK', 1000482.0, 230365.0, 0)
(303772633, 0, 0, 1, '3/27/2025', 'MANHATTAN', 0, 25, 40.79897, -73.941374, 0, 0, 155, 303772633, '11:15:00', 'OUTSIDE', 'STREET', 'UNKNOWN', '25-44', 'WHITE', 'M', '18-24', 'M', 'BLACK', 1000482.0, 230365.0, 0)
(303829750, 0, 0, 1, '3/28/2025', 'MANHATTAN', 0, 32, 40.820614, -73.94355, 2, 0, 156, 303829750, '23:50:00', 'OUTSIDE', 'HOUSE', 'APARTMENT', '25-44', 'BLACK HISPANIC', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 999874.0, 238251.0, 0)
(303829750, 0, 0, 1, '3/28/2025', 'MANHATTAN', 0, 32, 40.820614, -73.94355, 2, 0, 159, 303829750, '23:50:00', 'OUTSIDE', 'HOUSE', 'APARTMENT', '25-44', 'BLACK', 'M', 'UNKNOWN', 'UNKNOWN', 'UNKNOWN', 999874.0, 238251.0, 0)